.Bcontainer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 16px;
  background-color: #111827;
  color: E5E7EB;
  border-bottom: 1px solid #ddd;
}

.left {
  display: flex;
}

.right {
  display: flex;
  gap: 10px; 
}
.btn{
  background-color: #3B82F6;   
  color: #fff;
  height:20px;
  width: 100%;
  padding: 4px;
  padding-bottom: 20px;
  border-radius: 7px;
}